.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1vw;
  margin: 1vw;
}
.agency {
  width: 25vw;
  border-radius: 20px;
  margin: 3vw;
  padding: 15px;
  border: #B3DDF1 solid 2px;
  background-color: #175979;
  color: #B3DDF1;
}
.bikeRenting {
  width: 25vw;
  border-radius: 20px;
  padding: 15px;
  margin: 3vw;
  border: #B3DDF1 solid 2px;
  background-color: #175979;
  color: #B3DDF1;
}
.forteroche {
  width: 25vw;
  border-radius: 20px;
  padding: 15px;
  margin: 3vw;
  border: #B3DDF1 solid 2px;
  background-color: #175979;
  color: #B3DDF1;
}
.ireki {
  width: 25vw;
  border-radius: 20px;
  padding: 15px;
  margin: 3vw;
  border: #B3DDF1 solid 2px;
  background-color: #175979;
  color: #B3DDF1;
}
.jmpm {
  width: 25vw;
  border-radius: 20px;
  padding: 15px;
  margin: 3vw;
  border: #B3DDF1 solid 2px;
  background-color: #175979;
  color: #B3DDF1;
}
img{
    width: 10vw;
    float: right;
    border-radius: 15px;
}
