#footer svg {
  margin-top: 5vw;
  transform: rotate(180deg);
//   position: fixed;
  background-color: transparent;
  bottom: 0%;
  left: 0;
  overflow: hidden;
}
.bottomFooter {
  background-color: #175979;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100vh;
  animation: translateBottom 7s ease-out 7s forwards;
}
@keyframes translateBottom {
  from {
    height: 100vh;
  }
  to {
    height: 0;
  }
}
