.wrapper {
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1vw;
  overflow: hidden;
  animation: openBody 3s ease-out 15s forwards;
}
.agency {
  width: 350px;
  border-radius: 20px;
  margin: 3vw;
  padding: 15px;
  border: #b3ddf1 solid 2px;
  background-color: #175979;
  color: #b3ddf1;
}
.bikeRenting {
  width: 350px;
  border-radius: 20px;
  padding: 15px;
  margin: 3vw;
  border: #b3ddf1 solid 2px;
  background-color: #175979;
  color: #b3ddf1;
}
.forteroche {
  width: 350px;
  border-radius: 20px;
  padding: 15px;
  margin: 3vw;
  border: #b3ddf1 solid 2px;
  background-color: #175979;
  color: #b3ddf1;
}
.ireki {
  width: 350px;
  border-radius: 20px;
  padding: 15px;
  margin: 3vw;
  border: #b3ddf1 solid 2px;
  background-color: #175979;
  color: #b3ddf1;
}
.jmpm {
  width: 350px;
  border-radius: 20px;
  padding: 15px;
  margin: 3vw;
  border: #b3ddf1 solid 2px;
  background-color: #175979;
  color: #b3ddf1;
}
img {
  width: 10vw;
  float: right;
  border-radius: 15px;
}
@keyframes openBody {
  from{
    opacity: 0;
    height: 0;
  }
  to{
    opacity: 1;
    height: auto;
    margin-top: 5vw;
  }
}
